NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1
DATABASE_URL="postgresql://postgres:admin@localhost:5432/urabamarket"
JWT_SECRET="cambia-esto-en-produccion-minimo-8-caracteres"
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=10
